.container {
  background: #1E1F22;
}
.standard-font {
    font-size: 14px;
    font-weight: 600;
}
/*ribbon*/
.ribbon {
    border-right: 0.5px solid #515151;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 100%;
    background: #16161A;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;

}
.ribbon-section {
    margin: 10px;
    padding: 10px;
    border: 0.5px solid #515151;
    border-radius: 10px;
}
.ribbon-subsection {
    margin-top: 10px;
    padding: 10px;
    border: 0.5px solid #515151;
    border-radius: 10px;
}
.section-row {
    display: flex;
    border-bottom: 0.5px solid #515151;
    padding-bottom: 4px;
    margin-bottom: 4px;
    align-items: center;
    height: 25px;

}
.section-row-item {
    flex: 1 1;
    max-width: 50%;
    display: flex;
    align-items: center;

}
.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}
.margin-right-10 {
    margin-right: 10px;
}
.section-row-input {
    border: none;
    border-radius: 3px;
    font-weight: normal;
    padding: 0 5px;
    background: #323236;
    height: 100%;
}
.margin-top-10 {
    margin-top: 10px;
}
.blue-background {
    background: #142238;
}
.center {
    text-align: center;
}
.font-size-2 {
    font-size: 14px;
    padding: 5px;
}
.section-row-button {
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clickable-text {
    cursor: pointer;
    color: #007BFF; /* A typical clickable blue color */
    text-decoration: underline;
}

.full-width {
    width: 100%;
}

.pointer {
    cursor: pointer;
}


